<ion-view title="Chat it up!" id="page9" style="background-color:#F9AA0A;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="chatItUp-card22">
      <ion-item class="item-icon-left" id="chatItUp-list-item12">
        <i class="icon ion-image"></i>Item</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item class="item-icon-left energized" id="chatItUp-list-item13">
        <i class="icon ion-paper-airplane"></i>Translation here</ion-item>
    </div>
  </ion-content>
</ion-view>