<ion-view title="Chat Choices" id="page3" style="background-color:#5BEBB7;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="chatChoices-card21">
      <ion-item class="item-avatar balanced" id="chatChoices-list-item3">
        <img src="img/pMZCvWEISFKQSTrVB6gH_ScreenShot2017-01-28at5.02.19PM.png">
        <h2balanced>Jackie Starting Chat with ....
          <p>Kent Meow</p>
        </h2balanced>
      </ion-item>
      <div class=" item item-image">
        <img src="img/tHm3J1VrQSJnBLCQdc1A_kent.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="chatChoices-list-item-container2">
        <div id="chatChoices-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#0E3D1E;">Choose Chat Option</p>
        </div>
      </div>
      <ion-item class="item-icon-left balanced" id="chatChoices-list-item4">
        <i class="icon ion-ios-videocam"></i>Video Cam</ion-item>
      <ion-item class="item-icon-left balanced" id="chatChoices-list-item5" ui-sref="chatItUp">
        <i class="icon ion-android-textsms"></i>Text Messaging </ion-item>
    </div>
  </ion-content>
</ion-view>