<ion-view title="" hide-nav-bar="true" id="page4">
  <ion-content padding="true" style="background: url(img/kcDFH2hPQgiHme1Pz41C_loveCats.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="page4-form5" class="list">
      <div class="spacer" style="width: 300px; height: 271px;"></div>
      <label class="item item-input trans" id="page4-input9">
        <span class="input-label">Username</span>
        <input type="email" placeholder="xxx@something.com">
      </label>
      <label class="item item-input trans" id="page4-input10">
        <span class="input-label">Password</span>
        <input type="password" placeholder="********">
      </label>
    </form>
    <a ui-sref="page8" id="page4-button2" class="button button-assertive  button-block">Let's go!</a>
  </ion-content>
</ion-view>