<ion-view title="" hide-nav-bar="true" id="page11" style="background-color:#DB627E;">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 320px; height: 31px;"></div>
    <div class="list card" id="page11-card24">
      <ion-item class="item-icon-left positive" id="page11-list-item20">
        <i class="icon ion-image"></i>Gif Display</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item class="item-icon-left positive" id="page11-list-item21">
        <i class="icon ion-ios-people"></i>Translation here</ion-item>
    </div>
    <form id="page11-form12" class="list">
      <div class="spacer" style="width: 320px; height: 52px;"></div>
      <div id="page11-button-bar1" class="button-bar">
        <button id="page11-button7" class="button button-positive  button-block icon ion-android-microphone"></button>
        <a ui-sref="page8" id="page11-button8" class="button button-positive  button-block icon-left ion-android-microphone-off">End Call</a>
      </div>
    </form>
  </ion-content>
</ion-view>