<ion-view title="Location + Language Choices" id="page3">
  <ion-content padding="true" style="background: url(img/1VJ6Ip49TUWeBCYDjX6V_wallpaper.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/BLaF3j4BRgiDG9MOIQyk_mappicture.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="locationLanguageChoices-form3" class="list">
      <label class="item item-input" id="locationLanguageChoices-input8">
        <span class="input-label">Choose Location on Map</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="locationLanguageChoices-select1">
        <span class="input-label">Language</span>
        <select>
          <option>English</option>
          <option>Chinese</option>
          <option>Japanese</option>
          <option>French</option>
          <option>Spanish</option>
          <option>Meow</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>